In [1]:
import seaborn as sns#Seaborn kütüphanesini import ediyoruz.
df=sns.load_dataset('diamonds')#Diamonds isimli veri setini seaborn kütüphanesi içerisinden 
#çekiyoruz.
df=df.select_dtypes(include=['float64','int64'])#Sadece içerisindeki sayısal değişkenlere 
#erişmek için bir tip seçimi gerçekleştiriyoruz.
df=df.dropna()#Veri setinin içerisinde yer alan eksik değerleri direk silerek, dışarıda 
#bırakarak son dataframemimizi oluşturuyoruz.Burada aykırı gözlemleri,aykırı değerleri yakalama işlemini 
#rahat bir şekilde yapabilmek adına şimdilik direk eksik gözlemleri,değerleri silmiş olduk. 
df.head()#Veri setimizi gözlemliyoruz.

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [2]:
import numpy as np#Numpyı import ediyoruz.
from sklearn.neighbors import LocalOutlierFactor#Local outlier factor fonksiyonumuzu da sklearn isimli 
#kütüphanenin içerisinden neighbors içerisinden import ediyoruz.

In [3]:
clf = LocalOutlierFactor(n_neighbors = 20, contamination = 0.1)#Local outlier factor fonksiyonumuzu 
#kullanarak ilerde bir skorlama işlemi gerçekleştireceğimiz bir nesne oluşturuyoruz bunuda clf nesnesi
#olarak isimlendiriyoruz.LOF fonksiyonumuzun içerisine komşuluk sayısını ifade eden n_neighbors argümanını
#girip bunu 20 olarak belirliyoruz.Contamination isimli yoğunluğu ifade eden argümanı da girip, bunada 0.1
#değerini giriyoruz.Yani 20 komşu ve 0.1 yoğunluk değerleri ile LOF fonksiyonumuzu çalıştırıyoruz.

In [65]:
clf#Clf nesnemizi gözlemliyoruz ve LOF algoritmamızın biçimsel özelliklerine erişiyoruz.

LocalOutlierFactor(algorithm='auto', contamination=0.1, leaf_size=30,
          metric='minkowski', metric_params=None, n_jobs=None,
          n_neighbors=20, novelty=False, p=2)

In [4]:
clf.fit_predict(df)#LOF algoritmamızın biçimsel özelliklerini barındıran clf nesnemizi kullanarak
#ve fit_predict fonksiyonunun içerisine çok değişkenli yaklaştığımızdan dolayı dataframemimizi girerek
#bir fit etme işlemi yani algoritmayı çalıştırma işlemi gerçekleştiriyoruz.

array([-1, -1, -1, ...,  1,  1,  1])

In [68]:
df_scores = clf.negative_outlier_factor_#clf nesnesine negative outlier factor fonksiyonunu uyguluyoruz.
#Böylece veri setimizdeki her bir gözlem biriminin Local outlier factor skorunu elde ediyoruz.Bunuda
#df_scores olarak kaydediyoruz.

In [66]:
df_scores#df_scores'larımızı gözlemliyoruz.

array([-1.58352526, -1.59732899, -1.62278873, ..., -1.06721815,
       -1.00809552, -1.00849038])

In [7]:
np.sort(df_scores)[0:20]#numpy arrayimizi sort fonksiyonuyla küçükten büyüğe sıraladıktan sonra ilk 20 
#değerimizi gözlemliyoruz.

array([-8.60430658, -8.20889984, -5.86084355, -4.98415175, -4.81502092,
       -4.81502092, -4.61522833, -4.37081214, -4.29842288, -4.10492387,
       -4.0566648 , -4.01831733, -3.94882806, -3.82378797, -3.80135297,
       -3.75680919, -3.65947378, -3.59249261, -3.55564138, -3.47157375])

In [8]:
np.sort(df_scores)[13]#Eşik değer belirleme işlemlerine geçiyoruz.Örneğin arrayimizin küçükten büyüğe
#sıralanmış halinin 13.indexine karşılık gelen skoru gözlemliyoruz.

-3.823787967755565

In [11]:
esik_deger = np.sort(df_scores)[13]#Gözlemlemiş olduğumuz skoru yani değeri eşik değer olarak belirliyoruz

In [38]:
df_scores < esik_deger#Aykırı değerlere erişme işlemlerine geçiyoruz.Eşik değerden küçük olan değerler
#aykırı değerlerimiz olmuş olacak ve eşik değerden küçük olan değerleri gözlemliyoruz.

array([False, False, False, ..., False, False, False])

In [39]:
aykiri_tf = df_scores < esik_deger#Eşik değerden küçük değerleri gözlemleme işlemini aykiri_tf olarak 
#atıyoruz.

In [46]:
aykirilar=df[aykiri_tf]#Aykiri tf'i dataframemimizin içerisine gönderip true olanları yakalayıp aykırı
#değerlere erişiyoruz.Bu işlemi aykirilar olarak adlandırıyoruz.

In [47]:
aykirilar#Aykırı değerleri gözlemliyoruz.

       carat  depth  table  price     x      y      z
6341    1.00   44.0   53.0   4032  6.31   6.24   4.12
10377   1.09   43.0   54.0   4778  6.53   6.55   4.12
24067   2.00   58.9   57.0  12210  8.09  58.90   8.06
35633   0.29   62.8   44.0    474  4.20   4.24   2.65
36503   0.30   51.0   67.0    945  4.67   4.62   2.37
38840   0.73   70.8   55.0   1049  5.51   5.34   3.84
41918   1.03   78.2   54.0   1262  5.72   5.59   4.42
45688   0.70   71.6   55.0   1696  5.47   5.28   3.85
48410   0.51   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51   61.8   55.0   2075  5.15  31.80   5.12
50773   0.81   68.8   79.0   2301  5.26   5.20   3.58
52860   0.50   79.0   73.0   2579  5.21   5.18   4.09
52861   0.50   79.0   73.0   2579  5.21   5.18   4.09

# SİLME YÖNTEMİ

In [73]:
df_scores > esik_deger#Aykırı olmayan değerlere erişme yani aykırı değerleri silme işlemi için eşik
#değerden büyük olan değerleri gözlemliyoruz.

array([ True,  True,  True, ...,  True,  True,  True])

In [75]:
yeni_df=df[df_scores > esik_deger]#Eşik değerden büyük olan değerlerin gerçek değerlerine yani aykırı 
#olmayan değerlere, dataframemimizin içerisine eşik değerden büyük olan değerlerin arraylerini girip 
#erişiyoruz.Bunu da yeni_df olarak atıyoruz.

In [76]:
yeni_df#yeni_df'imizi yani aykırı olmayan değerlerimizi gözlemliyoruz.

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
5       0.24   62.8   57.0    336  3.94  3.96  2.48
6       0.24   62.3   57.0    336  3.95  3.98  2.47
7       0.26   61.9   55.0    337  4.07  4.11  2.53
8       0.22   65.1   61.0    337  3.87  3.78  2.49
9       0.23   59.4   61.0    338  4.00  4.05  2.39
10      0.30   64.0   55.0    339  4.25  4.28  2.73
11      0.23   62.8   56.0    340  3.93  3.90  2.46
12      0.22   60.4   61.0    342  3.88  3.84  2.33
13      0.31   62.2   54.0    344  4.35  4.37  2.71
14      0.20   60.2   62.0    345  3.79  3.75  2.27
15      0.32   60.9   58.0    345  4.38  4.42  2.68
16      0.30   62.0   54.0    348  4.31  4.34  2.68
17      0.30   63.4   54.0    351  4.23  4.29  2.70
18      0.30   63.8   56.0    351  4.23  4.26  2.71
19      0.30   62.7   59.0    351  4.21  4.27  2.66
20      0.30   63.3   56.0    351  4.26  4.30  2.71
21      0.23   63.8   55.0    352  3.85  3.92  2.48
22      0.23   61.0   57.0    353  3.94  3.96  2.41
23      0.31   59.4   62.0    353  4.39  4.43  2.62
24      0.31   58.1   62.0    353  4.44  4.47  2.59
25      0.23   60.4   58.0    354  3.97  4.01  2.41
26      0.24   62.5   57.0    355  3.97  3.94  2.47
27      0.30   62.2   57.0    357  4.28  4.30  2.67
28      0.23   60.5   61.0    357  3.96  3.97  2.40
29      0.23   60.9   57.0    357  3.96  3.99  2.42
...      ...    ...    ...    ...   ...   ...   ...
53910   0.70   60.5   58.0   2753  5.74  5.77  3.48
53911   0.57   59.8   60.0   2753  5.43  5.38  3.23
53912   0.61   61.8   59.0   2753  5.48  5.40  3.36
53913   0.80   64.2   58.0   2753  5.84  5.81  3.74
53914   0.84   63.7   59.0   2753  5.94  5.90  3.77
53915   0.77   62.1   56.0   2753  5.84  5.86  3.63
53916   0.74   63.1   59.0   2753  5.71  5.74  3.61
53917   0.90   63.2   60.0   2753  6.12  6.09  3.86
53918   0.76   59.3   62.0   2753  5.93  5.85  3.49
53919   0.76   62.2   55.0   2753  5.89  5.87  3.66
53920   0.70   62.4   60.0   2755  5.57  5.61  3.49
53921   0.70   62.8   60.0   2755  5.59  5.65  3.53
53922   0.70   63.1   59.0   2755  5.67  5.58  3.55
53923   0.73   61.3   56.0   2756  5.80  5.84  3.57
53924   0.73   61.6   55.0   2756  5.82  5.84  3.59
53925   0.79   61.6   56.0   2756  5.95  5.97  3.67
53926   0.71   61.9   56.0   2756  5.71  5.73  3.54
53927   0.79   58.1   59.0   2756  6.06  6.13  3.54
53928   0.79   61.4   58.0   2756  6.03  5.96  3.68
53929   0.71   61.4   56.0   2756  5.76  5.73  3.53
53930   0.71   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53926 rows x 7 columns]

# BASKILAMA YÖNTEMİ

In [50]:
df[df_scores == esik_deger]#Eşik değer skorumuzun karşılığı olan verisetimizdeki gözlem birimimize
#erişiyoruz.

       carat  depth  table  price     x    y     z
31230   0.45   68.6   57.0    756  4.73  4.5  3.19

In [51]:
baski_deger = df[df_scores == esik_deger]#Bu gözlem birimimizi baski_değer olarak kaydediyoruz.

In [77]:
aykirilar = df[aykiri_tf]#Aykırılar komutumuzu yazıyoruz.

In [53]:
aykirilar#Aykırı değerlerimizi gözlemliyoruz.

       carat  depth  table  price     x      y      z
6341    1.00   44.0   53.0   4032  6.31   6.24   4.12
10377   1.09   43.0   54.0   4778  6.53   6.55   4.12
24067   2.00   58.9   57.0  12210  8.09  58.90   8.06
35633   0.29   62.8   44.0    474  4.20   4.24   2.65
36503   0.30   51.0   67.0    945  4.67   4.62   2.37
38840   0.73   70.8   55.0   1049  5.51   5.34   3.84
41918   1.03   78.2   54.0   1262  5.72   5.59   4.42
45688   0.70   71.6   55.0   1696  5.47   5.28   3.85
48410   0.51   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51   61.8   55.0   2075  5.15  31.80   5.12
50773   0.81   68.8   79.0   2301  5.26   5.20   3.58
52860   0.50   79.0   73.0   2579  5.21   5.18   4.09
52861   0.50   79.0   73.0   2579  5.21   5.18   4.09

In [54]:
#Aykırı değerlerimizi baskı değeri ile baskılama işlemini yapabilmek için aykırılar dataframemimizi ve
#baskı değer dataframemimizi indexsiz numpy arraylerine çevirmemiz gerekiyor.Bunun için;
aykirilar.to_records(index = False)#Aykırılar dataframemimizi to records fonksiyonu ile index 
#parametresini de false olarak girip indexlerini kaldırdığımız bir  numpy array'ine çeviriyoruz.

rec.array([(1.  , 44. , 53. ,  4032, 6.31,  6.24,  4.12),
           (1.09, 43. , 54. ,  4778, 6.53,  6.55,  4.12),
           (2.  , 58.9, 57. , 12210, 8.09, 58.9 ,  8.06),
           (0.29, 62.8, 44. ,   474, 4.2 ,  4.24,  2.65),
           (0.3 , 51. , 67. ,   945, 4.67,  4.62,  2.37),
           (0.73, 70.8, 55. ,  1049, 5.51,  5.34,  3.84),
           (1.03, 78.2, 54. ,  1262, 5.72,  5.59,  4.42),
           (0.7 , 71.6, 55. ,  1696, 5.47,  5.28,  3.85),
           (0.51, 61.8, 54.7,  1970, 5.12,  5.15, 31.8 ),
           (0.51, 61.8, 55. ,  2075, 5.15, 31.8 ,  5.12),
           (0.81, 68.8, 79. ,  2301, 5.26,  5.2 ,  3.58),
           (0.5 , 79. , 73. ,  2579, 5.21,  5.18,  4.09),
           (0.5 , 79. , 73. ,  2579, 5.21,  5.18,  4.09)],
          dtype=[(u'carat', '<f8'), (u'depth', '<f8'), (u'table', '<f8'), (u'price', '<i8'), (u'x', '<f8'), (u'y', '<f8'), (u'z', '<f8')])

In [56]:
res = aykirilar.to_records(index = False)#Aykırılar dataframemimizi array'e çevirme işlemini yani
#yukarıdaki işlemimizi res diye kaydediyoruz.

In [57]:
res[:] = baski_deger.to_records(index = False)#Res'in içindeki tüm değerleri to records fonksiyonu ile 
#array'leştirdiğimiz ve index değerlerini kaldırdığımız baskı değer arrayiyle değiştiriyoruz.

In [58]:
res#Res array'imizi gözlemliyoruz.

rec.array([(0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19),
           (0.45, 68.6, 57., 756, 4.73, 4.5, 3.19)],
          dtype=[(u'carat', '<f8'), (u'depth', '<f8'), (u'table', '<f8'), (u'price', '<i8'), (u'x', '<f8'), (u'y', '<f8'), (u'z', '<f8')])

In [60]:
#Fakat yukarıdaki işlemimiz gerçek veri setimizdeki aykırı değerlerde bir değişiklik göstermez çünkü biz 
#bu işlemleri arrayler üzerinde yaptık.Bunun için aykırılar dataframemimizi yeniden tanımlamamız
#gerekiyor.
df[aykiri_tf]#Gerçek verisetimizi(ana dataframemimizi) gözlemliyoruz.

       carat  depth  table  price     x      y      z
6341    1.00   44.0   53.0   4032  6.31   6.24   4.12
10377   1.09   43.0   54.0   4778  6.53   6.55   4.12
24067   2.00   58.9   57.0  12210  8.09  58.90   8.06
35633   0.29   62.8   44.0    474  4.20   4.24   2.65
36503   0.30   51.0   67.0    945  4.67   4.62   2.37
38840   0.73   70.8   55.0   1049  5.51   5.34   3.84
41918   1.03   78.2   54.0   1262  5.72   5.59   4.42
45688   0.70   71.6   55.0   1696  5.47   5.28   3.85
48410   0.51   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51   61.8   55.0   2075  5.15  31.80   5.12
50773   0.81   68.8   79.0   2301  5.26   5.20   3.58
52860   0.50   79.0   73.0   2579  5.21   5.18   4.09
52861   0.50   79.0   73.0   2579  5.21   5.18   4.09

In [62]:
#Şimdi aykırılar dataframemini yeniden tanımlama işlemine geçiyoruz.
import pandas as pd#Pandası import ediyoruz.
df[aykiri_tf] = pd.DataFrame(res, index = df[aykiri_tf].index)#Res array'ini ve Res array'inde index
#olmadığı için, belirlediğimiz index değerlerini girip aykırılar dataframemini yeniden tanımlıyoruz.

In [63]:
df[aykiri_tf]#Yeniden tanımladığımız aykırılar dataframemimizi gözlemliyoruz.

       carat  depth  table  price     x    y     z
6341    0.45   68.6   57.0    756  4.73  4.5  3.19
10377   0.45   68.6   57.0    756  4.73  4.5  3.19
24067   0.45   68.6   57.0    756  4.73  4.5  3.19
35633   0.45   68.6   57.0    756  4.73  4.5  3.19
36503   0.45   68.6   57.0    756  4.73  4.5  3.19
38840   0.45   68.6   57.0    756  4.73  4.5  3.19
41918   0.45   68.6   57.0    756  4.73  4.5  3.19
45688   0.45   68.6   57.0    756  4.73  4.5  3.19
48410   0.45   68.6   57.0    756  4.73  4.5  3.19
49189   0.45   68.6   57.0    756  4.73  4.5  3.19
50773   0.45   68.6   57.0    756  4.73  4.5  3.19
52860   0.45   68.6   57.0    756  4.73  4.5  3.19
52861   0.45   68.6   57.0    756  4.73  4.5  3.19